#headerCarousel > .carousel-inner > .item > img {
    width: 100%;
}

#headerCarousel > .carousel-inner > .item {
    max-height: 500px;
    overflow: hidden;
    text-align: center;
}

#headerCarousel > .carousel-inner > .item > img {
    margin: 0 auto;
}

.preview-image {
    text-align: center;
}

.preview-image > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

ol li {
    font-size: 18px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}