.panel > .panel-body {
    background-color: #ffffff;
}

#follow-us > li > a > i {
    color: #60CCCC;
}

#follow-us > li {
    padding-left: 20px;
    padding-right: 20px;
}

.main-body-img {
    border-radius: 10px;
}

/* http://www.w3schools.com/css/css3_border_images.asp
   Banner Border */
.banner {
    border: 20px solid transparent;
    -webkit-border-image: url(../images/border.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 30 round;
    padding-top: 15px;
}

.body-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.body-row {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Carousel Font */
@font-face {
    font-family: 'QueenOfCamelot', sans-serif;
    src: url(../fonts/queen/QueenOfCamelot.otf) format("opentype");
}

.carousel-caption > h1 {
    font-family: 'QueenOfCamelot', sans-serif;
    font-size: 48px;
}

/* Carousel Image */
.carousel-inner > item > .fill {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}