.panel > .panel-body {
    background-color: #ffffff;
}

#follow-us > li > a > i {
    color: #60CCCC;
}

#follow-us > li {
    padding-left: 20px;
    padding-right: 20px;
}

/* http://www.w3schools.com/css/css3_border_images.asp
   Banner Border */
.banner {
    border: 20px solid transparent;
    -webkit-border-image: url(../images/border.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 30 round;
}

/* ---- particles.js container ---- */
/*
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}*/