.navbar {
    min-height:30px !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

/* Adjust navbar size */

@media (max-width: 1199px) {
    .navbar-brand {
        width: 60px;
        height: 60px;
        padding-top:5px;
        padding-bottom:5px;
    }
    
    .navbar-nav > li > a {
        padding-top:15px !important;
        padding-bottom:15px !important;
        font-size:18px;
    }
    
}

@media (min-width: 1200px) {
    .navbar-brand {
        height: 120px;
        position : absolute;
        top: 0px;
    }
    
    .navbar-nav > li > a {
        padding-top:16px !important;
        padding-bottom:16px !important;
        font-size:18px;
    }
    
    #tagline-carousel {
        padding-top: 0px;   
    }
    
    .container.page-content {
        padding-top: 45px;
    }
    
}

/* Adjust navbar colors */

.navbar-inverse {
    background-color: #f5998b;
    border-color: #f5998b;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #fba395;
}

.dropdown-menu {
    background-color: #f5998b;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #60CCCC;
}

.navbar-inverse > li.dropdown.open > a, 
.navbar-inverse > li.dropdown.open > a:hover,
.navbar-inverse > li.dropdown.open > a:focus {
    color: #60CCCC;
    background-color: #fff;
}

.navbar-inverse > .active > a,
.navbar-inverse > .active > a:hover,
.navbar-inverse > .active > a:focus {
    color:#60CCCC !important;
    background-color: #FFF !important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFF
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF	
}

/* Navbar collapse */

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display: block !important;
	}
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
}

/* Global CSS Changes */

/* Change active breadcrumb color */
.breadcrumb > .active {
     color: #60CCCC;
}

.pager > .previous > a {
    background-color: #60CCCC;
    color: white;
}

.pager > .next > a {
    background-color: #60CCCC;
    color: white;
}

.btn-primary,
.btn-primary:focus {
    background-color: #60CCCC;
    border-color: #80DDDD;
}

.btn-primary.disabled {
    background-color: #80DDDD;
    border-color: #90EEEE;
}

.btn-primary:hover {
    background-color: #80DDDD;
    border-color: #A0FFFF;
}

.btn-primary.active,
.btn-primary:active {
    background-color: #40AAAA;
    border-color: #60CCCC;
}

.btn-primary:active:focus {
    background-color: #40AAAA;
    border-color: #60CCCC;
}
