/* Header */

.header-image {
    border-radius: 10px;
}

/* Team Member Panels */

.thumbnail > img {
    max-height:200px;
    border-radius: 10px;
}

#directors > div > .thumbnail {
    height: 570px;
    padding-top: 30px;
    border: 4px solid;
    border-radius: 10px;
    border-color: #F7998A;
}

#leaders > div > .thumbnail {
    height: 500px;
    padding-top: 30px;
    border: 4px solid;
    border-radius: 10px;
    border-color: #F7998A;
}

#advisory > div > .thumbnail {
    height: 570px;
    padding-top: 30px;
    border: 4px solid;
    border-radius: 10px;
    border-color: #F7998A;
}

/* Sponsor Panels */

#sponsors > div {
    display: inline-block;
    margin: auto;
    float: none;
    padding-left:15px;
    padding-right:15px;
}

#sponsors > div > img {
    display: inline-block;
    margin:auto;
    float: none;
}