.sectionDivider {
  border-color: #F7998A;
}

.headerImage {
  max-height: 600px;
}

.blogImage {
  max-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carouselItem {
  max-height: 600px;
}

@media (max-width: 991px) {
  .carouselItem {
    max-height: 400px;
  }
}

@media (max-width: 600px) {
  .carouselItem {
    max-height: 200px;
  }
}

.carouselImage {
  object-fit: cover;
}