.carouselItem {
  max-height: 625px;
}

@media (max-width: 991px) {
  .carouselItem {
    max-height: 400px;
  }
}

@media (max-width: 600px) {
  .carouselImage {
    height: 200px;
  }
}

.carouselImage {
  object-fit: cover;
}